<form method="post" action="{{ path('admin_delete_category', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette section?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger m-0 shadow-lg text-white">Delete</button>
</form>
