{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-between">
        <button class="btn btn-success" type="submit">Valider</button>
        <a class="btn btn-danger m-0 " href="{{ path('admin_content')}}">Annuler</a>
    </div>
{{ form_end(form) }}
