$primary: #00ACB0;
$light: #ffffff;
$secondary: #F8F4F4;
$dark: #5964A1;

@import "wcs";

@import "~bootstrap/scss/bootstrap";

.nav-link {
    font-weight: bold;
}

.navbar-logo {
    height: 45px;
}

.header-title-desktop {
    width: 65vw;
    font-size: 20px;
}

.header-title-mobile {
    width: 75vw;
}

.card-body {
    border: 2px solid $primary;
    height: 15rem;
}