    {% for category in this.categories %}
        <a class="nav-link d-flex justify-content-center text-light mx-5" href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.title }}</a>
    {% endfor %}