{% extends 'baseNoSwup.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">Publier un nouvel article</h1>
    <div class="d-flex justify-content-center">
        <div class="col-9 col-md-6">
            <div class="p-2 my-5 shadow-lg rounded-2">
            {{ include('article/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
